<div class="bookingjs-form-field bookingjs-survey-field">
    <div class="switch-field">
          <div class="switch-title"><span>Do you make over {{moneyQuestion}} per year?</span></div>
          <div class="radioHolder">
              <input type="radio" id="moneyQuestionLeft" name="money" value="yes" checked="true" style="">
              <label for="moneyQuestionLeft">Yes</label>
              <input type="radio" id="moneyQuestionRight" name="money" value="no">
              <label for="moneyQuestionRight">No</label>
          </div>
    </div>
</div>
<div class="bookingjs-form-field bookingjs-survey-field">
    <div class="switch-field">
          <div class="switch-title"><span>Are you part of a Housing Voucher program?</span></div>
          <div class="radioHolder">
              <input type="radio" id="voucherLeft" name="voucher" value="yes" checked="true">
              <label for="voucherLeft">Yes</label>
              <input type="radio" id="voucherRight" name="voucher" value="no">
              <label for="voucherRight">No</label>
          </div>
    </div>
</div>
<div class="bookingjs-form-field bookingjs-survey-field">
    <div class="select">
        <span>When would you like to move in?</span>
        <select id="formSelect" name="date" form="surveyForm" style="width: 175px; margin-bottom: 9px;">
            <option value="none">Select Date</option>
            <option value="asap">ASAP</option>
            {{#dateHere}}
            <option value="middle">{{dateHere}}</option>
            {{/dateHere}}
            <option value="first">{{ dateHere2 }}</option>
            <option value="just-browsing">Browsing - Not Sure</option>
        </select>
        <div class="select_arrow">
        </div>
    </div>
</div>
<div class="bookingjs-form-field bookingjs-survey-field" style="display:none;">
    <input id="userId" name="userId" value="{{ users.id }}">
</div>
