<div class="bookingjs-bookpage surveyPage" style="z-index:200">
  <div class="bookingjs-bookpage-header">
    <h2 class="bookingjs-bookpage-date surveyError thanksBox">Please Complete Survey</h2>
    <h6 class="bookingjs-bookpage-time thanksBox">*all fields required for qualification*</h6>
    {{#allocatedResource}}
      <span class="bookingjs-bookpage-resource-prefix">{{ allocatedResourcePrefix }}</span>
      <h3 class="bookingjs-bookpage-resource">{{ allocatedResource }}</h3>
    {{/allocatedResource}}
  </div>
  <form id="surveyForm" class="bookingjs-form" action="#">
     <div class="bookingjs-form-box">
          <div class="bookingjs-form-fields">
            {{> formFields }}
          </div>
    </div>
    <button id="surveyComplete" class="bookingjs-form-button" type="submit">
       <span class="error-text">{{& errorIcon }}</span>
       <span class="inactive-text">Send It!</span>
    </button>
  </form>
</div>
